[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osc-gen = "*"
matplotlib = "==3.0.3"
Wave = "*"
scipy = "*"
numpy = "*"
soundfile = "*"
pyinstaller = "*"
setuptools = "<45"

[dev-packages]

[requires]
python_version = "3.7"
